html {
	overflow: hidden;
}

body {
	margin: 0px;
	padding: 0px;
}

#container {
	position: absolute;
	top: 999px;
	left: 35.8%; /*25*/
	width: 40px;
	height: 38px;
	display: none;
	flex-direction: column;
	border: solid rgb(255, 0, 0);
	border-radius: 5px;
	background-color: rgb(30, 30, 30);
	display: none;
}

header {
	width: 50px;
	height: 50px;
	opacity: 0.8;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;

}

header img {
	width: 50px;
	height: 50px;
	border-top-left-radius: 40px;
	border-top-right-radius: 40px;
	filter: invert(100%);
}

.blink-image {
    -moz-animation: blink normal 1s infinite ease-in-out;
    -webkit-animation: blink normal 1s infinite ease-in-out;
    animation: blink normal 1s infinite ease-in-out;
}

@-moz-keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
} 

@-webkit-keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
}

@keyframes blink {
    0% {opacity:1;}
    50% {opacity:0;}
    100% {opacity:1;}
} 